<h1>Adding LOLcat</h1>

<%= form_for @cat do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :birth_date %>
    <%= f.date_select :birth_date %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
